.coming-soon-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
  }
  
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
    height: 25%;
    background-color: #022169;
  }
  
  .navbar img {
    width: 20%;
    height: 80%;
  }

  
  .content {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .footer {
    text-align: center;
    color: #777;
    margin-top: auto;
    margin-bottom: 1rem;
  }
  
  .footer a {
    color: #777;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  